# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.glb
*.glb.meta

unity/UnityProject/Library/**/*.*
unity/UnityProject/Library/*
!unity/UnityProject/Library/.keep

unity/UnityProject/Temp/**
unity/UnityProject/Temp/*.*
unity/UnityProject/Temp/**/*.*
!unity/UnityProject/Temp/.keep